p {
    color: black;
}


* {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

input,
textarea {
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus,
textarea:focus {
    border: 3px solid #555;
}
.form-group.required .col-form-label:after { 
   content:"*";
   color:red;
}
input:hover,
textarea:hover,
.hoverable:hover {
    background-color: #ddd;
    transition: 0.2s;
}


html {
    height: 100%;
    
}

body {
    height: 99%;
}


main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


main {
    padding: 30px;
    border: 3px solid green;
}

.border {
    border: 3px solid green;
}